

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>@Drug.Special.Name</h2>
            @Drug.Special.Description
        </div>
        <form class="dialog-body">
            <div>
                <label>Amount:</label>
                <input type="range" min="@Drug.MinimumSize" max="@Drug.MaximumSize" step="1" @bind-value="@Drug.Size" @bind-value:event="oninput"/>
                <span class="size-label">@(Drug.Size) ($@(Drug.GetFormattedTotalPrice()))</span>
            </div>
        </form>
        <div class="dialog-buttons">
            <button class="btn btn-secondary mr-auto" @onclick="@OnCancel">Cancel</button>
            <span class="mr-center">
                Price: <span class="price">@(Drug.GetFormattedTotalPrice())</span>
            </span>
            <button class="btn btn-success ml-auto" @onclick="@OnConfirm">Order ></button>
        </div>
    </div>
</div>



@code {
    [Parameter] public Drug Drug { get; set; }
    [Parameter] EventCallback OnCancel { get; set; }
    [Parameter] EventCallback OnConfirm { get; set; }
}